<div class='big-num-bar'>
  <h3>Donald Has Raised: </h3>
  <h1>$1,000,000</h1>
</div>



  <!-- <div>
  has been
  <select class="" name="">
  <option value="raised">raised for</option>
  <option value="spent">spent on</option>
</select>
</div>
<div>
<span>
<select class="" name="">
<option value="total">Every</option>
<option value="Hilary">Hilary's</option>
<option value="Donald">Donald's</option>
<option value="Jeb">Jeb's</option>
<option value="Bernie">Bernie's</option>
</select>
</span>
official campaign.
</div> -->
