<!-- <div id='container'>{{{ markup }}}</div> -->
<header>
  <div class='header-bar'>
    <div class='location inactive'></div>
    <div class='location active'></div>
    <div class='location inactive'></div>
  </div>
</header>

<main>
  <div class='container'>

  </div>
</main>

<footer>
  <div class='filter-bar base-theme'>
    <div class='filter-group'>
      <span class='toggle-choice'>Democrat</span>
      <span class='toggle-choice'>Republican</span>
      <span class='toggle-choice chosen'>Both</span>
    </div>
    <div class='filter-group'>
      <span class='toggle-choice chosen'> Spent </span>
      <span class='toggle-choice'> Raised </span>
    </div>
    <div class='filter-group'>
      <span aria-label='greater-than' class='toggle-choice chosen'> > </span>
      <span aria-label='less-than' class='toggle-choice'> < </span>
    </div>
    <div class='filter-group'>
      <input type='text' placeholder='$' value='$' />
    </div>
    <div class='filter-group'>
      <span>Clear Filter</span>
    </div>
  </footer>
