<header>
  <div class='header-bar'>
    <div class='location active'></div>
    <div class='location inactive'></div>
    <div class='location inactive'></div>
  </div>
</header>

<main>
  <div class='big-num-bar'>

  </div>
  <div class='icon-list-container'>
    {{#repeat count=1000}}
    <span class='icon'>
      <i class="fa fa-usd"></i>
    </span>
    {{/repeat}}
  </div>
</main>

<footer>
  <div class='icon-bar base-theme'>
    <div class='filter-group'>
      <button class='icon-share-btn'>Share</button>
      <button class='icon-up-btn'><i class="fa fa-arrow-up"></i></span>
      </div>
    </div>
  </footer>
