<!-- <div id='container'>{{{ markup }}}</div> -->
<header>
  <div class='header-bar'></div>
</header>

<main>
  <div class='container'>
    <!-- table boilerplate -->
    <table>
      <!-- <caption>My table caption</caption> -->
      <thead>
        <tr class='gray-theme'>
          <th>Name</th>
          <th>Raised</th>
          <th>Spent</th>
        </tr>
      </thead>
      <tbody>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<footer>
  <div class='filter-bar'></div>
</footer>
