<!-- <div id='container'>{{{ markup }}}</div> -->
<header>
  <div class='header-bar'>
    <div class='location inactive'></div>
    <div class='location inactive'></div>
    <div class='location active'></div>
  </div>
</header>

<main>
  <div class='container'>
    <!-- table boilerplate -->
    <table>
      <!-- <caption>My table caption</caption> -->
      <thead>
        <tr class='gray-theme-light'>
          <th>Name</th>
          <th>Raised</th>
          <th>Spent</th>
        </tr>
      </thead>
      <tbody>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='dem-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
        <tr class='gop-theme'>
          <td>Jane Doe</td>
          <td>$1,000,000</td>
          <td>$500,000</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<footer>
  <div class='filter-bar base-theme'>
    <div class='filter-group'>
      <span class='toggle-choice'>Democrat</span>
      <span class='toggle-choice'>Republican</span>
      <span class='toggle-choice chosen'>Both</span>
    </div>
    <div class='filter-group'>
      <span class='toggle-choice chosen'> Spent </span>
      <span class='toggle-choice'> Raised </span>
    </div>
    <div class='filter-group'>
      <span aria-label='greater-than' class='toggle-choice chosen'> > </span>
      <span aria-label='less-than' class='toggle-choice'> < </span>
    </div>
    <div class='filter-group'>
      <input type='text' placeholder='$' value='$' />
    </div>
    <div class='filter-group'>
      <span>Clear Filters</span>
    </div>
  </footer>
