rect {
  fill: #999;
}

#bar-chart-target {
  height: 250px;
  width: 300px;
  margin: $spacing-unit / 2 auto;
}

.bar.selected {
  transition: fill .5s;
}

.bar.inactive {
  fill: #999;
  transition: fill .5s;
}

.bar.selected.dem {
  fill: $dem-theme-main;
}

.bar.selected.gop {
  fill: $gop-theme-main;
}

.tap-to-change {
  width: 80%;
  margin: 0 auto;
  h3 {
    text-align: center;
    font-size: 30px;
  }
}

.bar-label-white {
  fill: $base-white;
  font-size: 24px;
}

.bar-label-black {
  fill: $base-black;
  font-size: 24px;
}
