rect {
  fill: #999;
}

#bar-chart-target {
  height: 250px;
  width: 300px;
  margin: $spacing-unit / 2 auto;
}

.bar.selected {
  transition: fill .5s;
}

.bar.inactive {
  fill: #999;
  transition: fill .5s;
}

.bar.selected.dem {
  fill: $dem-theme-light;
}

.bar.selected.gop {
  fill: $gop-theme-light;
}

.tap-to-change {
  width: 80%;
  margin: 0 auto;
  h3 {
    text-align: center;
  }
}
