rect {
  fill: #999;
}

#bar-chart-target {
  width: 80%;
  height: 400px;
  margin: $spacing-unit / 2 auto;
  position: relative;
}

@media screen and (max-width: 600px) {
  #bar-chart-target {
    height: 250px;
    width: 300px;
    margin: $spacing-unit / 2 auto;
  }
}

@media screen and (max-width: 800px) {
  #bar-chart-target {
    height: 300px;
    width: 400;
    margin: $spacing-unit / 2 auto;
  }
}

.bar.selected {
  transition: fill .5s;
}

.bar.inactive {
  fill: #999;
  transition: fill .5s;
}

.bar.selected.dem {
  fill: $dem-theme-main;
}

.bar.selected.gop {
  fill: $gop-theme-main;
}

.tap-to-change {
  position: relative;
  width: 80%;
  height: $spacing-unit;
  margin: 0 auto;
  padding: $spacing-unit 0 $spacing-unit / 2 0;
  h3 {
    text-align: center;
    font-size: 1.25em;
  }
}

.bar-label-white {
  fill: $base-white;
  font-size: 1.5em;
}

.bar-label-black {
  fill: $base-black;
  font-size: 1.5em;
}
