.big-num-bar {
  text-transform: uppercase;
  width: $container-width;
  max-width: $container-max-width;
  margin: $spacing-unit / 4 auto;
  position: relative;
  top: $spacing-unit;
  padding: $spacing-unit / 5 $spacing-unit / 4 $spacing-unit / 5 $spacing-unit / 4;
  // background-color: $base-white;
  h1 {
    padding: $spacing-unit / 3 0;
    font-size: 2.5em;
    text-align: left;
  }
}

.candidate-name {
  font-size: 28px;
}

.outraised {
  font-size: 24px;
}

h1.gop {
  @extend .candidate-name;
  color: $gop-theme-main;
}

h1.dem {
  @extend .candidate-name;
  color: $dem-theme-main;
}

h3.lost {
  font-size: 24px;
  padding: $spacing-unit / 3 0;
}

.lost.dem {
  color: $dem-theme-main;
}

.lost.gop {
  color: $gop-theme-main;
}

.past-difference {
  padding: $spacing-unit / 2 0;
  font-size: 24px;
}

.past-year {
  padding: $spacing-unit / 2 0;
  font-size: 36px;
}

@media screen and (min-width: 1000px) {
  h3.lost {
    font-size: 36px;
  }
  .candidate-name {
    font-size: 48px;
  }
  .past-year {
    font-size: 48px;
  }
  .past-difference {
    font-size: 36px;
  }
}
