.nav-main {
  height: $spacing-unit * 2;
  width: 100%;
  margin-bottom: $spacing-unit / 2;
  ul {
    height: 40px;
    width: 100%;
    // margin: 0 auto;
  }
}

li.nav-tab {
  width: 50%;
  height: $spacing-unit * 2;
  float: left;
  padding: $spacing-unit / 2 0 $spacing-unit / 2 0;
  text-align: center;
  background-color: #eaeaea;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #999;
}

li.nav-tab.active {
  background-color: #fff;
  border-color: #fff;
  a.nav-link {
    color: #000;
  }
}

a.nav-link {
  width: 100%;
  margin: 0 auto;
  color: #999;
  text-decoration: none;
  font-size: 20px;
}

#left-tab {
  border-bottom-right-radius: 5px;
}

#right-tab {
  border-bottom-left-radius: 5px;
}
