#picture-div {
  position: relative;
  width: 80%;
  margin: $spacing-unit auto 0 auto;
  height: 200px;
  color: #fff;
  overflow: hidden;
  h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
}

#picture-div img {
  display: block;
  margin: auto;
  margin-top: -200px;
  z-index: 1;
  width: 100%;
  height: auto;
}

.picture-name-container {
  z-index: 2;
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 15%;
}

.picture-name-header {
  text-align: center;
  text-transform: uppercase;
  padding: $spacing-unit / 2;
}

.arrow-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 100px;
  height: 100px;
  opacity: .7;
  cursor: pointer; // for ios clicks
}

.left-icon {
  @extend .arrow-icon;
  left: 0px;
  text-align: left;
}

.right-icon {
  @extend .arrow-icon;
  right: 0px;
  text-align: right;
}


@media (max-width: 450px) {
  #picture-div {
    width: 100%;
  }
  #picture-div img {
    margin-top: -70px;
  }
  .arrow-icon {
    // bottom: 50%;
  }
  .right-icon {
    right: 0px;
    padding-right: 0px;
  }

  .left-icon {
    left: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 500) and (max-width: 800) {
  #picture-div img {
    margin-top: -100px;
  }
}

// @media (max-width: 800) {
//   #picture-div img {
//     margin-top: -100px;
//   }
// }

@media (min-width: 1200px) {
  #picture-div img {
    // margin-top: -400px;
  }
}
