$base-white: #ffffff;
$base-black: #000000;

$base-gray-light: #dadada;
$base-gray-dark: #333;

$twitter-blue: #55acee;
$facebook-blue: #3b5998;

// $gop-theme-dark: #662b2b;
$gop-theme-light: #ff9898;

// $dem-theme-dark: #1a2e55;
$dem-theme-light: #7a9de2;

$sans-font-family: "canada-type-gibson", sans-serif;
$monospace-font-family: "anonymous-pro", monospace;

$spacing-unit: 25px;
