button.year {
  font-family: inherit;
  font-size: inherit;
  background-color: #ffffff;
  border: 1px solid $base-black;
  color: $base-black;
  width: 75px;
  border-radius: 10px;
  margin: $spacing-unit / 4;
  line-height: $spacing-unit;
  height: $spacing-unit * 2;
  text-transform: uppercase;
}

button.year.active {
  color: #999;
  background-color: #666;
  border-color: #666;
}

.year-select-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
}

.year-select-label {
  display: inline-block;
  width: auto;
  padding-right: $spacing-unit;
}

// @media screen and (max-width: 600px) {
//   .year-select-container.ul {
//     width: 300px;
//   }
// }
