@import 'reset';
@import 'variables';
@import 'themes';
@import 'amount';
@import 'barchart';
@import 'yearselect';
@import 'picture';
@import 'share';
@import 'nav';
@import 'transition';


html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $sans-font-family;
  background-color: $base-white;
  font-size: 1em;
  padding-bottom: $spacing-unit;
}

main {
  height: 100%;
}

.primary-header {
  font-size: 48px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.general-container {
  width: 80%;
  margin: $spacing-unit auto;
}

section {
  margin-bottom: $spacing-unit;
}

#app-container {
  height: 100%;
  // padding-top: $spacing-unit;
}

*{
    -webkit-tap-highlight-color:transparent; // prevent flicker on ios
}
