@import 'reset';
@import 'variables';
@import 'themes';
@import 'names';
@import 'barchart';
@import 'yearselect';
@import 'picture';
@import 'share';
@import 'nav';
@import 'transition';


html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $sans-font-family;
  background-color: $base-white;
  font-size: 1em;
  padding-bottom: $spacing-unit;
}

main {
  height: 100%;
}

.primary-header {
  font-size: 36px;
  // width: $container-width;
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 550px) {
  .primary-header {
    font-size: 20px;
    width: 100%;
  }
}

// .general-container {
//   width: $container-width;
//   margin: $spacing-unit auto;
// }

section {
  margin-bottom: $spacing-unit;
}

#app-container {
  height: 100%;
  // padding-top: $spacing-unit;
}

*{
    -webkit-tap-highlight-color:transparent; // prevent flicker on ios
}
