@import 'reset';
@import 'variables';
@import 'themes';
@import 'names';
@import 'barchart';
@import 'yearselect';
@import 'picture';
@import 'share';
@import 'nav';
@import 'transition';


html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $sans-font-family;
  background-color: $base-white;
  font-size: 1em;
  padding-bottom: $spacing-unit;
}

#app-container {
  height: 100%;
}

*{
  -webkit-tap-highlight-color:transparent; // prevent flicker on ios
}

main {
  height: 100%;
}

.primary-header {
  font-size: 36px;
  // width: $container-width;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.secondary-header {
  font-size: 24px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}


.top-five-div {
  width: 100%;
  height: $spacing-unit * 2;
  margin: 0 auto;
}

section {
  margin-bottom: $spacing-unit;
}

@media (max-width: 550px) {
  .primary-header {
    font-size: 20px;
  }
  .secondary-header {
    font-size: 18px;
  }
  .top-five-div {
    height: $spacing-unit;
  }
}
