#chart-container {
  height: 250px;
  width: 300px;
  margin: $spacing-unit / 2 auto;
}

.bar.selected {
  transition: fill .25s;
}

.bar.inactive {
  fill: #999;
  transition: fill .25s;
}

.bar.selected.dem {
  fill: $dem-theme-light;
}

.bar.selected.gop {
  fill: $gop-theme-light;
}

.tap-instruction {
  width: 80%;
  margin: $spacing-unit / 2 auto;
  h3 {
    padding: 5px;
    text-align: center;
  }
}
