#chart-container {
  height: 250px;
  width: 300px;
  margin: $spacing-unit auto;
  // border: 1px solid $base-black;
}

.bar.selected {
  // fill: #E82070;
  transition: fill .25s;
}

.bar.inactive {
  fill: #999;
  transition: fill .25s;
}


.bar.selected.dem {
  fill: $dem-theme-light;
}

.bar.selected.gop {
  fill: $gop-theme-light;
}
