.filter-bar {
  text-align: center;
  width: 100%;
  padding: $spacing-unit / 2 0;
  font-family: $monospace-font-family;
  h3 {
    display: inline-block;
  }
  .filter-group {
    height: $spacing-unit;
    padding-bottom: $spacing-unit / 5;
    margin: 3px;
  }
  .toggle-choice {
    padding: 0 $spacing-unit / 2;
    height: inherit;
  }
  // .chosen {
  //   border: 2px solid $base-gray-light;
  //   background-color: $base-theme-dark;
  //   color: $base-gray-light;
  // }
  .chosen {
    border: 2px solid $base-theme-dark;
    background-color: $base-gray-light;
    color: $base-theme-dark;
  }
  input {
    width: 60%;
    height: $spacing-unit;
    border: 1.5px solid $base-theme-dark;
    background-color: $base-gray-light;
    color: $base-theme-dark;
  }
}
