.share-container {
  position: relative;
  width: 80%;
  height: 150px;
  margin: $spacing-unit / 2 auto;
  position: relative;
  bottom: 5px;
  // padding: $spacing-unit / 5 $spacing-unit / 4 $spacing-unit / 5 $spacing-unit / 4;
  // border: 1px solid $base-black;
  background-color: $base-white;
}

.share-icons {
  position: relative;
  top: $spacing-unit;
  width: 80%;
  margin: 5px auto;
  text-align: center;
  i {
    padding: 0 $spacing-unit;
  }
}

.share-text {
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
  h3 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }
}

.twitter-link, {
  color: $twitter-blue;
  &:hover {
    color: darken($twitter-blue, 15);
  }
}

.facebook-link, {
  color: $facebook-blue;
  &:hover {
    color: darken($facebook-blue, 15);
  }
}
