table {
  margin: $spacing-unit auto;
  width: $table-width;
  height: auto;
  font-family: $monospace-font-family;
}

td,th {
  padding: $spacing-unit / 3;
  width: 33%;
  text-align: center;
}

tr {
  border-bottom: 2.5px solid #fff;
}
