.base-theme {
  background-color: $base-theme-dark;
  color: $base-gray-dark;
}

.gray-theme {
  background-color: $base-gray-dark;
  color: $base-gray-light;
}

.gop-theme {
  background-color: $gop-theme-light;
  color: $gop-theme-dark;
}

.dem-theme {
  background-color: $dem-theme-light;
  color: $dem-theme-dark;
}
