$base-theme-light: #FFF7FB;
// $base-theme-light: #E5CCE5;
$base-theme-dark: #D059FF;

$base-gray-light: #dadada;
$base-gray-dark: #333;

$gop-theme-dark: #662b2b;
// $gop-theme-dark: #99172b;
$gop-theme-light: #ff9898;
// $gop-theme-light: #FF6D6C;


$dem-theme-dark: #1a2e55;
// $dem-theme-dark: #172B99;
$dem-theme-light: #7a9de2;
// $dem-theme-light: #4273d6;

$base-font-family: "canada-type-gibson", sans-serif;
$monospace-font-family: "anonymous-pro", monospace;

$spacing-unit: 25px;

$table-width: 350px;
