$base-theme-light: #FFF7FB;
// $base-theme-light: #E5CCE5;
$base-theme-dark: #D059FF;

$base-gray-light: #999;
$base-gray-dark: #666;

$gop-theme-dark: #99172b;
$gop-theme-light: #FF6D6C;

$dem-theme-dark: #172B99;
$dem-theme-light: #4273d6;

$base-font-family: "canada-type-gibson", sans-serif;
$monospace-font-family: "anonymous-pro", monospace;

$spacing-unit: 25px;

$table-width: 350px;
