$gop-theme-primary: #CC2D1C;
$gop-theme-accent: #FF4948;

$dem-theme-primary: #172B99;
$dem-theme-accent: #1451CC;

$base-theme-primary: #F3FFB5;
// $base-theme-accent: ;

$base-font-family: "canada-type-gibson", sans-serif;
