@import 'reset';
@import 'variables';
@import 'themes';
@import 'numberbar';
@import 'chart';
@import 'bio';
@import 'filter';

body {
  font-family: $sans-font-family;
  background-color: $base-white;
  // padding-top: $spacing-unit / 2;
  font-size: 1em;
}
